<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" type="text/css" href="operator.css">
  <link rel="stylesheet" type="text/css" href="bootstrap.css">

  <title></title>
</head>
<body>
  <% include export.ejs %>
  <% include upload.ejs %>
<div class="row ly">
  <div class=" col-md-9 header" id="head" >
  <img src="logo.png">
  </div>
  <div class="col-md-1 gr">
    <a href="/openexport"><button type="button" class="btn btn-success">Export</button></a>
  </div>
  <div class="col-md-1 gr">
   <a href="/openupload"> <button type="button" class="btn btn-success">Upload</button></a>
  </div>
<div class="col-md-1 gr">
    <a href="/logout"><button type="button" class="btn btn-success">Logout</button></a>
  </div>
</div>
<div class="row">
  <div id='cssmenu'>
<ul>
   <li><a href="#" name="subject" value="society"><span>Society</span></a></li>
   <li><a href="#" name="subject" value="scholarship"  ><span>Scholarship</span></a></li>
   <li class='active has-sub'><a href='#'><span>Academic Year</span></a>
      <ul>
         <li class='has-sub'><a href='#'><span>2019-2020</span></a>
         </li>
     </ul>
     <li class='active has-sub'><a href='#'><span>Examinations</span></a>
      <ul>
         <li class='has-sub'><a href='#'><span>I YEAR</span></a>
         </li>
         <li class='has-sub'><a href='#'><span>II YEAR</span></a>
         </li>
         <li class='has-sub'><a href='#'><span>III YEAR</span></a>
         </li>
         <li class='has-sub'><a href='#'><span>IV YEAR</span></a>
         </li>

      </ul>
   </li>
   <li><a href='#'><span>Holidays</span></a></li>
   <li><a href='#'><span>Hostel</span></a></li>
   <li class='last'><a href='#'><span>Culturals</span></a></li>
  <li> <input class="form-control mr-sm-2 r" type="text" placeholder=""></li>
    <li><button class="btn btn-success r" type="submit">Search</button></li>
</ul>
</div>
</div>
</body></html>