<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
  <% include userheader.ejs %>
<div class="row color">
<div class="col-md-12 pink">
				<h4><b><i>Hai, welcome to svecw.......!!!!!!!!</i></b></h4>
			</div>
		</div>
</body>
</html>